.staffLine {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 0 0;
}

.staffLine__label {
    opacity: 0.5;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0;
}

.staffLine__person {
    font-size: 0.9rem;
    text-decoration: none;
    color: inherit;
}

.staffLine__person:hover {
    color: #ff751a;
}
