.card {
    display: flex;
    flex-flow: row nowrap;
    width: 40em;
    background-color: #181a1b;
    border-radius: 5px;
    margin: 2rem 1rem 0 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.card__bookmark {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #c43e26;
    height: 2rem;
    width: 4rem;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.card__poster {
    height: 20rem;
}

.card__content {
    width: 100%;
    height: available;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.card__content__title__ru {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.card__content__title__en {
    font-size: 1.1rem;
    font-weight: bold;
}

.card__content__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.card__content__info span {
    font-size: 0.8rem;
    margin: 0 1rem 1rem 0;
}

.card__content__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
