.card {
    display: flex;
    flex-flow: row nowrap;
    width: 40rem;
    height: 20rem;
    background-color: #181a1b;
    border-radius: 5px;
    margin: 2rem 1rem 0 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    border: 2px solid #ffffff80;
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.card__poster {
    height: 20rem;
    width: 15rem;
}

.card__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem auto;
    min-height: inherit
}

.card__content__title__ru {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.card__content__title__en {
    font-size: 1.1rem;
    font-weight: bold;
}

.card__content__info {
    width: 90%;
    max-height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0 0 0;
}

.card__content__info span {
    font-size: 0.8rem;
    margin: 1rem 0.5rem;
    
}

.card__content__info__genre {
    display: flex;
    flex-flow: row wrap;
    min-width: 25rem;
    align-items: center;
    justify-content: center;
}