.similarFilms__wrapper {
    flex-flow: column nowrap;
}

.similarFilms__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
}

.similarFilms {
    max-width: 80vw;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}


.similarFilms::-webkit-scrollbar{
    background-color: #181a1b;
}

.similarFilms::-webkit-scrollbar-thumb {
    background-color: #ffffff80;
    border-radius: 5px;
}