.infoPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80vw;
    margin: 3rem auto;
    padding: 5%;
    background-color: #181a1b;
}

.infoPage__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}

.infoPage__content__poster {
    max-width: 45vw;
    margin: 0 2.5vw 0 0;
}

.infoPage__content__info__title__ru {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoPage__content__info__title__en {
    opacity: 0.5;
    margin: 0 0 2rem 0;
}

.infoPage__ageLimit {
    background-color: #1e2122;
    color: #fff;
    font-size: 1.1rem;
    margin: 0 0 0 0.5rem;
    border: #fff solid 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.infoPage__content__info__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 2rem 0;
}

.infoPage__content__info__about__lable {
    opacity: 0.5;
    font-size: 0.8rem;
    margin: 0 0 2rem 0;
}
