.infoPage {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
    margin: 2rem auto;
    padding: 5%;
    background-color: #181a1b;
}

.infoPage__content {
    display: flex;
    flex: 0.5;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}

.infoPage__content__poster img {
    width: 20rem;
    margin: 0 2.5vw 0 0;
}

.infoPage__content__info__title__ru {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoPage__content__info__title__en {
    opacity: 0.5;
    margin: 0 0 2rem 0;
}

.infoPage__ageLimit {
    background-color: #1e2122;
    color: #fff;
    font-size: 1.1rem;
    margin: 0 0 0 0.5rem;
    border: #fff solid 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.infoPage__content__info__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 2rem 0;
}

.infoPage__content__info__about__lable {
    opacity: 0.5;
    font-size: 0.8rem;
    margin: 0 0 2rem 0;
}

/* @media screen and (max-width: 768px) {
    .infoPage {
        flex-direction: column;
        align-items: center;
    }

    .infoPage__content {
        flex-direction: column;
        align-items: center;
    }

    .infoPage__content__poster img {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .infoPage__content__info__title__ru {
        font-size: 2rem;
        text-align: center;
    }

    .infoPage__content__info__title__en {
        margin: 0 0 1rem 0;
        text-align: center;
    }

    .infoPage__ageLimit {
        margin: 0.5rem 0 0 0;
        text-align: center;
    }

    .infoPage__content__info__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 0 0;
    }

    .infoPage__content__info__about__lable {
        text-align: center;
        margin: 0.5rem 0 0 0;
    }
} */