.navBar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 9999;
    background-color: #181818;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid #ffffff80;
}

.navBar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.NavLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 1.1rem;
}

#NavLink_icon {
    margin: 0 1rem;
}

.navBar__menu {
    margin: 0 1rem;
}
