html {
    background-color: #1e2122;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #c8c8c8;
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}
