.horizontalCard {
    display: flex;
    flex-flow: row nowrap;
    background-color: #181a1b;
    border-radius: 5px;
    min-width: 40rem;
    margin: 2rem 1rem 0 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    border: 2px solid #ffffff80;
}

.horizontalCard:hover {
    transform: scale(1.005);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.horizontalCard__poster {
    height: 25rem;
}

.horizontalCard__content {
    max-width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem auto;
}

.horizontalCard__content__title__ru {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.horizontalCard__content__title__en {
    font-size: 1.1rem;
    font-weight: bold;
}

