.ratings__wrapper {
    position: absolute;
    transform: translate(17rem, 1rem);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.ratings__wrapper__kp {
    position: relative;
    padding: 0.5rem;
    border-radius: 5px;
    color: #ffffff80;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    width: fit-content;
    margin: 0 0 0.5rem 0;
    border: 2px solid #ffffffb0;

}

.ratings__wrapper__imdb {
    position: relative;
    padding: 0.5rem;
    border-radius: 5px;
    color: #ffffff80;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    width: fit-content;
    border: 2px solid #ffffff80;

}

.votes {
    display: block;
}


progress {
    width: 100%;
    height: 0.75rem;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: red;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: rgb(47, 255, 57);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

progress[value='1']::-webkit-progress-value {
    background-color: rgb(47, 255, 57);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}